CryptocurrencyTradingSystem/Users/obj/
CryptocurrencyTradingSystem/Users/bin/
CryptocurrencyTradingSystem/Orders/obj/
CryptocurrencyTradingSystem/Orders/bin/
CryptocurrencyTradingSystem/CryptocurrencyTradingSystem.Core/obj/
CryptocurrencyTradingSystem/CryptocurrencyTradingSystem.Core/bin/
CryptocurrencyTradingSystem/obj/
CryptocurrencyTradingSystem/bin/
CryptocurrencyTradingSystem/.vs/